*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    color: #635D56;
}
body{
    background-color: #EBEBE7;
}

/* regole header */

.title{
    text-align: center;
    margin-bottom: 50px;
    font-size: small;
    padding-top: 30px;
}

 .subparagraph{
    margin-top: 10px;
}
/* regole container generale  */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    /* debug
    background-color: blue;
    border: solid red 1px; */
   
}

/* regole card */
.card {
    display: flex;
    justify-content: center;
    width: calc(100% / 3); 
    text-align: center;
    margin-bottom: 2em;
   
   
}
.card span h3 {
    display: block;
}

.card img {
    max-width: 300px;
   
}

.card h3{
    font-size:15px;
}

.card span{
    font-size: smaller;
}

.text-container{
    background-color: #F5F5F1;
}